.colaborador {
  width: 280px;
  height: auto;
}

.colaborador .cabecalho {
  background-color: #f0f0f0;
  border-radius: 10px 10px 0px 0px;
}
.colaborador img {
  width: 100px;
  border-radius: 50%;
  position: relative;
  bottom: -50px;
}

.colaborador .rodape {
  background: #ffffff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
  border-radius: 0px 0px 10px 10px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.colaborador .rodape h4 {
  color: #6278f7;
  font-size: 18px;
  line-height: 15px;
  font-weight: bold;
  margin-bottom: 6px;
}

.colaborador .rodape h5 {
  font-size: 16px;
  font-weight: 400;
  line-height: 15px;
  color: #212121;
  padding: 0 5px;
}
